@{
    ViewBag.Title = "About";
}

<div class="shadow rounded p-3 mt-5">
    <h1>Stackoverflow</h1>
    <br/>
    <p>
        Stack Overflow is a question and answer website for professional and enthusiast programmers. It is the flagship site of the Stack Exchange Network, created in 2008 by Jeff Atwood and Joel Spolsky. It features questions and answers on a wide range of topics in computer programming. It was created to be a more open alternative to earlier question and answer websites such as Experts-Exchange. Stack Overflow was sold to Prosus, a Netherlands-based consumer internet conglomerate, on 2 June 2021 for $1.8 billion.
        <br />
        <br />

        The website serves as a platform for users to ask and answer questions, and, through membership and active participation, to vote questions and answers up or down similar to Reddit and edit questions and answers in a fashion similar to a wiki.Users of Stack Overflow can earn reputation points and "badges"; for example, a person is awarded 10 reputation points for receiving an "up" vote on a question or an answer to a question, and can receive badges for their valued contributions, which represents a gamification of the traditional Q&A website. Users unlock new privileges with an increase in reputation like the ability to vote, comment, and even edit other people's posts.
        <br />
        <br />
        As of March 2021 Stack Overflow has over 14 million registered users, and has received over 21 million questions and 31 million answers. Based on the type of tags assigned to questions, the top eight most discussed topics on the site are: 
        <br />
        <ul>
            <li>JavaScript</li>
            <li>Java</li>
            <li>C#</li>
            <li>PHP</li>
            <li>Android</li>
            <li>Python</li>
            <li>jQuery and</li>
            <li>HTML</li>
        </ul>
         Stack Overflow also has a Jobs section to assist developers in finding their next opportunity. For employers, Stack Overflow provides tools to brand their business, advertise their openings on the site, and source candidates from Stack Overflow's database of developers who are open to being contacted.


    </p>

</div>


