@{
    ViewBag.Title = "Contact";
}

<div>
    <h1>Contact us</h1>
    <p>
        If you have a question about a Stack Exchange site, the best place to ask is on Meta Stack Exchange or the site's own meta - which is in the top bar under the Help icon..

        You might find these links useful:
        <ul>
            <li>Facebook Help Center</li>
            <li> Yahoo! Help Central</li>
            <li>Google Contact</li>
            <li>Ubuntu Contact</li>
        </ul>
        If you need to delete your account, merge accounts, or have an issue that can't be addressed by meta, please use the contact details below:<br />
        <a>stackoverflow99@gmail.com</a>

    </p>
</div>




