@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="shadow card col-lg-12 col-md-12 pt-5 pb-5">
        <h1 class="text-center mb-5">Stack <b>Overflow</b></h1>
        <h1 class="text-center mb-5">Learn, Share, Build!</h1>
        <h3 class="text-center text-black-50 mb-5">Each month, over 50 million developers come to Stack Overflow to learn, share their knowledge, and build their careers.</h3>
        <p class="text-center text-black-50">Join the world's largest developer community</p>
        <div class="text-center">
            <a class="btn btn-outline-primary btn-lg" asp-area="Identity" asp-page="/Account/Login">Join community</a>
        </div>
    </div>
    @*<div class="col-lg-6 col-md-6">

    </div>*@
</div>





