@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>
    .add_on {
        background-color: #fff;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .custom_text_box {
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: .25rem !important;
        border-bottom-right-radius: .25rem !important;
    }
</style>

<div class="row justify-content-center mt-5">
    <div class="shadow col-lg-6 col-md-6 col-12 p-5">
        <section>
            <form id="account" method="post">
                <h1 class="text-center">@ViewData["Title"]</h1>
                <h4 class="text-center text-black-50">Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group mb-3 ">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text add_on" id="basic-addon1" style="background-color:#fff;"><i class="fas fa-envelope"></i></span>
                        <input asp-for="Input.Email" class="form-control custom_text_box" placeholder="Email" />
                        <br />

                    </div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group mb-3 ">
                    
                    <div class="input-group input-group-lg">
                        <span class="input-group-text add_on" id="basic-addon1" style="background-color:#fff;"><i class="fas fa-unlock-alt"></i></span>
                        <input asp-for="Input.Password" class="form-control custom_text_box" placeholder="Password" />

                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
               
                <div class="form-group text-center">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary btn-lg">Log in <i class="fas fa-sign-in-alt"></i></button>
                </div>
                <div class="form-group text-center">
                    @*<p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>*@
                    <p>
                        <span class="text-black-50">Need an account?</span><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"> Sign up</a>
                    </p>
                </div>
            </form>
        </section>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
